.Heading{
	background-color: #ff6f66;
	font-family: Verdana;
	font-size: 150%;
	position: relative;
}

.Navigation {
	float: left;
	padding-right: 20px;
	padding-top: 10px;

}

.HeadingA{
	background-color: #66ff66;
	font-family: Verdana;
	font-size: 150%;
	position: relative;
}

.Body {
	display: inline-block;
}

.About{
	float: right;
	border: 2pt solid black;
	border-style: rigid;
	padding-right: 20px;
	padding-left: 20px;
	padding-top: 10px;
	margin-top: 10px;
	margin-right: 20px;
	margin-left: 20px;
	background-color: #ff6f66;
}

.NavAlphabet {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	background-color: #66ff66;
}

.AlphabetH{
	margin: 20px;
	background-color: #66ff66;
	padding: 5px;
	border: 2pt solid black;
	width: 1099px;
	float: right;
}

.AlphabetInfo {
	width: 80%;
	padding: 20px;
	border: 2pt solid black;
	margin: 30px;
	float: right;
	position: relative;
	left: 30px;
}
img {
	position: absolute;
	float: right;
}
